h3 Twitter OAuth
div.row
	div.col-xs-12
		button.btn.btn-primary#twitter-login(ng-click="logIn()") Login
		button.btn.btn-default#twitter-getmytweets(ng-click="getMyTweets()" style="display:none;") Get my own tweets
		button.btn.btn-default#twitter-gettweets(ng-click="getTweets()" style="display:none;") Get all tweets
		button.btn.btn-warning#twitter-logout(ng-click="logOut()" style="display:none;") Logout


div.row
	div.col-xs-12#results
		div.row(ng-repeat="t in twitter.tweets")
			div.col-xs-2.col-sm-1
				img.img-circle(ng-src="{{t.user.profile_image_url}}")
			div.col-xs-10.col-sm-11
				small {{t.user.name}}
				br 
				p {{t.text}}
				a(ng-show="twitter.myTweets" ng-click="deleteTweet(t.id_str)") Delete this status
				a(ng-show="!twitter.myTweets" ng-click="reTweet(t.id_str)") Retweet this status
