extends layout

block body
  div.container
    h2 AnguLearn

    div.row
      a.col-md-2(href="/") MAIN PAGE
      a.col-md-2(href="/twitter") TWITTER PAGE
      a.col-md-2(href="/youtube") YOUTUBE PAGE
      a.col-md-2(href="/reddit") REDDIT PAGE
    
    div(ng-view)

  script(src='js/lib/angular/angular.js')
  script(src='js/lib/angular/angular-route.js')
  script(src='js/lib/oauth/oauth.js')
  script(src='js/lib/jquery/jquery.js')  
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
