extends layout

block body
  div.container
    h2 AnguLearn

    div.row
      a.col-md-2(href="/") MAIN PAGE
      a.col-md-2(href="/twitter") TWITTER PAGE
      a.col-md-2(href="/youtube") YOUTUBE PAGE
      a.col-md-2(href="/reddit") REDDIT PAGE
    
    div(ng-view)

  script(src='bower_components/angular/angular.js')
  script(src='bower_components/angular-route/angular-route.js')
  script(src='bower_components/oauth-js/dist/oauth.js')
  script(src='bower_components/jquery/dist/jquery.js')  
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
