extends layout

block body
  div.container
    h2 AnguLearn

    div.row
      a.col-md-2(ui-sref="index") MAIN PAGE
      a.col-md-2(ui-sref="twitter") TWITTER PAGE
      a.col-md-2(ui-sref="youtube") YOUTUBE PAGE
      a.col-md-2(ui-sref="reddit") REDDIT PAGE
      a.col-md-2(ui-sref="ui-router") UI-ROUTER
    
    div(ui-view)

  script(src='bundles/dependencies.js')  
  script(src='bundles/app.js')
