extends layout

block body
  div.container
    h2 AnguLearn

    div.row
      a.col-md-2(href="/") MAIN PAGE
      a.col-md-2(href="/twitter") TWITTER PAGE
      a.col-md-2(href="/youtube") YOUTUBE PAGE
      a.col-md-2(href="/reddit") REDDIT PAGE
    
    div(ng-view)

  script(src='bundles/dependencies.js')  
  script(src='bundles/app.js')
