doctype html
html(ng-app="anguLearn")
  head
    meta(charset='utf8')
    base(href='/')
    title AnguLearn
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
  body
    block body
